<link rel="import" href="../../bower_components/polymer/polymer-element.html">
<link rel="import" href="../../bower_components/iron-ajax/iron-ajax.html">

<dom-module id="visor-cuentas">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous"><link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
    <div class="row">
      <h1 class="col-md-12">Visor Cuenta</h1>
      <h2 class="col-md-8">IBAN: {{iban}}</h2>
      <h2 class="col-md-4">balance: {{balance}}</h2>
    </div>
    <!-- button class="btn btn-success">Login</button>
    <button class="btn btn-warning">Logout</button -->
    <!-- input type="text" value="{{first_name::input}}"/ -->
    <!-- input type="range" min="18" value={{age::input}} max="70"/ -->

    <iron-ajax
      auto=""
      id="getAccount"
      url="http://localhost:3000/apitechu/v2/users/{{id}}/accounts"
      handle-as="json"
      on-response="showData"
    >
  </template>

  <script>
    /**
     * @customElement
     * @polymer
     */
    class VisorCuentas extends Polymer.Element {
      static get is() { return 'visor-cuentas'; }
      static get properties() {
        return {
          id : {
            type: Number
          }, iban : {
            type: String
          }, balance : {
            type: Number
          }
        };
      }

      showData(data){
        console.log("Recibidos datos de la cuenta");
        console.log(data.detail.response);
        console.log(data.detail.response.userid);
        console.log(data.detail.response.iban);
        console.log(data.detail.response.balance);

        this.iban = data.detail.response.iban;
        this.balance = data.detail.response.balance;
      }
    }

    window.customElements.define(VisorCuentas.is, VisorCuentas);
  </script>
</dom-module>
